<div class='get-in-touch'>

    <form class='form-container' name="getintouchform" ng-submit="sendForm()" novalidate>
        <div class='contact-box cta-box forms3'>
            <div class='cta-inner'>
                <h2 class='contact-box-header highlight-text'>Get in touch with us</h2>
                <img alt="Sa" height="74"
                     src="images/AJ_n2.png"
                     width="74"/>

                <p>Enter your email and we will get back to you in blink of an eye</p>
                <input class='form-control' ng-modal="_replyto" name='_replyto' errorMsg='Please enter a valid email address'
                       placeholder='Email' required type='email'>
                <input name="_gotcha" style="display:none"/>
            </div>
            <button class='btn cta-button' type='submit'>
                Send
                <i class='fa fa-refresh fa-spin'></i>
            </button>
        </div>
    </form>

</div>