<div class='landing-navigation hidden-xs'>
    <div class='container'>
        <a id='top'></a>

        <div class='logo'>
            <div class='header-logo'><a href="http://www.ajinkyaxjs.com">AjinkyaxJs</a></div>
        </div>

        <div class='links pull-right'>
            <a href='index.html' ng-show="homepage">Back</a>
        </div>
        <div class="googleplus pull-right" id="googleplus">
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-annotation="inline" data-width="300"></div>
        </div>
        <div class='clear'></div>
    </div>
</div>

<div class='mobile-nav-container visible-xs'>
    <div class='mobile-nav-header'>
        <div class='bloc-main'>
            <a href="http://www.ajinkyaxjs.com">Ajinkyaxjs</a>
        </div>
        <div class="googleplus pull-right">
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-annotation="inline" data-width="200"></div>
        </div>
    </div>
</div>

<script>
    gapi.plusone.go("googleplus");
</script>