<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.url}}/">AjinkyaxJs.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{site.url}}/index.html" class="{% if page.url == '/index.html' %}selected{% endif %}">Homepage</a></li>
                <li><a href="https://www.udemy.com/u/ajinkya7/" target="_blank">Udemy</a></li>
                <li><a href="https://www.udemy.com/modern-frontend-web-development-with-reactjs/" title="Learn frontend web development in Mumbai" target="_blank">Learn Web</a></li>
            </ul>
            <aside class="sharing">
              <div class="g-plusone" data-annotation="inline" data-width="300"></div>
            </aside>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
