<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=245629822267100";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1" id="googleplus">
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-annotation="inline" data-width="300"></div>
</div>
<div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1">
    <div class="fb-like" data-href="{{page.url | prepend: site.baseurl}}" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
</div>
<script>
    gapi.plusone.go("googleplus");
</script>