@import url(normalize.min.css);@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
html,body{font-family:Roboto, sans-serif!important;background-color:#fff}
#mainWrap{position:fixed;top:0;left:0;z-index:99;width:100%;height:100%}
.jumbotron{background-color:rgba(249,255,255,0.9)}
.welcome h3{color:#1C9E62;font-weight:700;font-size:2em}
.wrapper{position:relative}
.wrapper ul{display:block;float:left;list-style:none;margin:0;padding:0}
.wrapper ul li{width:260px;display:block;overflow:hidden;padding:5px 10px}
.wrapper ul li > p{text-decoration:underline;cursor:pointer;margin:0 5px 0 0}
.wrapper ul li > span{display:none;position:absolute;z-index:99;top:0;left:0;background-color:#1da9cc;width:100%;color:#fff;font-size:16px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:5px 10%}
.wrapper ul li > span p{margin:0}
.wrapper ul li p,.wrapper ul li > b{display:block;float:left}
.wrapper ul li > p,.wrapper ul li > b{font-size:15px;line-height:32px}
.wrapper ul li > b{width:32px;height:32px}
.wrapper ul li > b img{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;width:100%}
.hidden{display:none!important;visibility:hidden}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.myContainer{width:143px;position:absolute;top:140px;right:20px;z-index:999;margin:0}
.myContainer ul{list-style:none;display:block;margin:0;padding:0}
.profile-container{position:relative;width:143px;float:left}
.profile{background:#f6f6f6;float:left;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;padding:4px}
.avatar img{display:block;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;width:100%}
.follow{margin:4px 0 0}
.follow button{display:block;width:100%;border:0;background:#268cde;color:#FFF;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;cursor:pointer;margin:0;padding:7px 0}
.follow button i{font-size:10px;color:#b9daf4}
.follow button:hover{background:#3096e8}
.follow button:active{background:#2085d6}
.profile-list{overflow:hidden;width:100%;box-sizing:border-box;color:#767b7e;font-size:13px}
.profile-list li{cursor:pointer;background:#f6f6f6;border-top:1px solid #e5e6e6;-webkit-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:perspective(250px) rotateX(-90deg);-o-transform:perspective(250px) rotateX(-90deg);transform:perspective(250px) rotateX(-90deg);-moz-box-shadow:0 2px 10px rgba(0,0,0,0.05);padding:15px 10px}
.profile-list li:last-child{border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px}
.profile-list li [class^=icon-]{margin:0 3px 0 0}
.profile-list .profile{border-radius:3px 3px 0 0;position:relative}
.profile-list .first{-webkit-transition:.2s linear .8s;-o-transition:.2s linear .8s;transition:.2s linear .8s}
.profile-list .second{-webkit-transition:.2s linear .6s;-o-transition:.2s linear .6s;transition:.2s linear .6s}
.profile-list .third{-webkit-transition:.2s linear .4s;-o-transition:.2s linear .4s;transition:.2s linear .4s}
.profile-list .fourth{-webkit-transition:.2s linear .2s;-o-transition:.2s linear .2s;transition:.2s linear .2s}
.profile-container:hover .profile{border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}
.profile-container:hover .profile-list li{-webkit-transform:perspective(350px) rotateX(0deg);-o-transform:perspective(350px) rotateX(0deg);transform:perspective(350px) rotateX(0deg);-webkit-transition:.2s linear 0;-o-transition:.2s linear 0;transition:.2s linear 0}
.profile-container:hover .profile-list .second{-webkit-transition-delay:.2s;-o-transition-delay:.2s;transition-delay:.2s}
.profile-container:hover .profile-list .third{-webkit-transition-delay:.4s;-o-transition-delay:.4s;transition-delay:.4s}
.profile-container:hover .profile-list .fourth{-o-transition-delay:.6s;transition-delay:.6s}
#canvas{display:block;background:rgba(255,255,255,0.5);position:fixed;width:100%;height:100%;z-index:0;top:0;left:0}