{% include header.html %}
<body>
<a href="http://plus.google.com/+AjinkyaBorade?rel=author" rel="author" style="display:none"></a>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

<div clas="short-text" style="position: fixed; top: 10%; left: 0; width: 100%; height: 100%; padding: 1%; background-color: #333; z-index: 999;">
    <p class="short-p" style="text-align: center;">You are using an outdated browser client, you can upgrade your browser experiece, <a href="http://www.browsehappy.com/" target="_blank">click here</a>.</p>
</div>
<![endif]-->

<header class="clearfix">
	<div class="row clearfix">
        <div class="large-6 columns">
            <div class="logo">
                <h2>Ajinkya FrontEnd UI Web Developer</h2>
            </div>
        </div>

        <div class="large-6 column g-plusone_wrap">
            <div class="g-plusone" data-annotation="inline" data-width="300"></div>
        </div>
	</div>
</header>

{% include nav.html %}

{{ content }}

{% include footer.html %}
